# Important Requirements here.
telethon
# https://github.com/TeamUltroid/Telethon/archive/ultroid.zip
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
requests
gitpython
aiohttp
telethon==1.38.1
redis
Pillow
telegraph
opencv-python
numpy
beautifulsoup4
apscheduler
profanityfilter
qrcode
pytz
htmlwebshot
yt-dlp
akipy

